<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <property name="LOG_HOME" value="D:/JetBrains" />
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_HOME}/kafkastream.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>${LOG_HOME}/kafkastreams.%i.log.zip</fileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>3</maxIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>50MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.apache.kafka" level="OFF"/>
  <logger name="org.apache.kafka.common.metrics" level="WARN"/>
  <logger name="log4j.logger.org.apache.kafka.streams" level="ERROR"/>

  <root level="INFO">
    <appender-ref ref="FILE" />
  </root>
</configuration>